<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @task.user.full_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Created at:</strong>
  <%= I18n.l(@task.created_at.to_date) %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
